/* Uycraft */

@font-face {
    font-family: 'Font 1';
    src: url('fonts/www.woff2') format('woff2'),
         url('fonts/www.woff') format('woff'),
         url('fonts/www.ttf') format('truetype');
}

@font-face {
    font-family: 'Font 2';
    src: url('fonts/www.woff2') format('woff2'),
         url('fonts/www.woff') format('woff'),
         url('fonts/www.ttf') format('truetype');
}

@font-face {
    font-family: 'Font 3';
    src: url('fonts/www.woff2') format('woff2'),
         url('fonts/www.woff') format('woff'),
         url('fonts/www.ttf') format('truetype');
}

body {
    font-family: 'Font 1', Sans-Serif;
}

bg-purple {
    background-color: blue
}